RewriteEngine on
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)/$ /new-website/$1 [L,R]

RewriteRule ^([A-Za-z0-9-]+)?$ index.php?p="$1"