/* MAIN.CSS - Used for the main bulk of the website. */


body {
    margin: 0 auto;
    text-align: center;
    background-color: black;
    color: white;
    font-family: Arial, serif;
}

#wrapper {
    background-color: #151515; /* This colour is nice. */
    margin: 5px;
    /*padding: 5px;*/
    padding-top: 5px;
    font-size: 20px;
    min-height: calc(100vh - 136px); /* 45px being the total padding top-bottom (10px, 5px top, 5px bottom) plus the height of the footer (35px) */
    box-sizing: border-box;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #ffa500; /* Links should be orange because yes. */
}

a:hover {
    text-decoration: underline;
}

/* FORM BOXES */

input {
    padding: 10px 18px;
    transition-duration: 0.1s;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border: none;
}

input[type=submit], input[type=button].important {
    background-color: #FFA500;
    cursor: pointer;
}

input[type=button] {
    background-color: gray;
    cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover {
    cursor: pointer;
}

#errortext {
    color: red;
}

#topbar {
    padding: 10px;
    background-color: gray;
    color: white;
}

#topbarright {
    display: inline-block;
    width: 49%;
    text-align: right;
    vertical-align: middle;
}

#topbarleft {
    display: inline-block;
    width: 49%;
    text-align: left;
    vertical-align: middle;
}

a.topbarlink {
    color: white;
    padding: 10px 10px;
}

.ce-block__content,
.ce-toolbar__content {
    max-width: 90%;
}

.ce-toolbar__plus {
    color: white;
}

.ce-inline-toolbar__dropdown, .ce-conversion-toolbar__tools {
    color: black;
}

.ce-toolbar {
    color: orange;
    background-color: orange;
}

.ce-block--selected .ce-block__content {
    color: black;
    background: gray;
}

.ce-paragraph::selection, .ce-header::selection {
    color: black;
    background-color: gray;
}

#text {
    width: 50%;
    min-width: 750px;
    margin: 0px auto;
}

/* TABLES */
table {
    margin: 0px auto;
    border-collapse: collapse;
}

th, td {
    padding: 5px 10px;
    border-bottom: 2px solid black;
}